*.pyc
__pycache__/
node_modules
package-lock.json
package.json

# IDE and Editor files
.idea/
.vscode/
.claude/

# Virtual Environment
.venv/
env/
venv/

# Git Agent data
git-agent/parsed_repository/
git-agent/repository/

# Milvus Vector DB data
milvus/volumes/
